body {
	margin: 0px;
}
.hero-unit {
	background-image: url('/img/top.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100px;
	margin-top: 10px;
}
#questions {
	width: 100%;
}
.question ul {
	list-style-type: none;
	margin: 0 0 10px 0px;
}
.question p {
	font-size: 20px;
}
.question li {
	margin: 20px 0 20px 0;
	font-size: 16px;
	width: 100%;  
	background-repeat: no-repeat; 
	background-image: url('/img/bar.png');
}
.question li.selected {
	font-weight: bold;
}
.question .answer-option {
	background: none;
	border: none;
	text-align: left;
}
.question img {
	width: 16px;
	height: 16px;
	margin-left: 3px;
}
.question a {
	text-decoration: none;
	color: #444444;
}
.meta, .meta a {
	color: #999999;
	font-size: 11px;
	text-align: right;
}
.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
.footer p {
	margin-bottom: 0;
	color: #777;
	font-size: 16px;
}
.footer img {
	height: 16px;
}
.footer .technology p {
	font-size: 11px;
}